beautifulsoup4
fake_useragent
imageio
keras ; python_version < '3.12'
lxml
matplotlib
numpy
opencv-python
pandas
pillow
# projectq  # uncomment once quantum/quantum_random.py is fixed
qiskit ; python_version < '3.12'
qiskit-aer ; python_version < '3.12'
requests
rich
# scikit-fuzzy  # uncomment once fuzzy_logic/fuzzy_operations.py is fixed
scikit-learn
statsmodels
sympy
tensorflow ; python_version < '3.12'
tweepy
# yulewalker  # uncomment once audio_filters/equal_loudness_filter.py is fixed
typing_extensions
xgboost
fickling~=0.1.0 \
    --hash=sha256:a5bb5982e2c0e86d41fceaf9576929f0e7bfeef53998248f69c885224cf45739
    --hash=sha256:1d74a9ef84e56ecd3114563907166bfa65e17e3a00190157c1514fff08e086b4
